/* Custom font face importing */
@font-face {
    font-family: 'PT Sans', sans-serif;
}

/* Global Css Declaration */
*{
    font-family: 'PT Sans', sans-serif;
}



.card img {
    border: 5px solid rgb(216, 213, 213);
    height: 300px;
}